* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
}

.animation-container {
  flex: 50%;
  background: rgb(163, 250, 218);
  background: linear-gradient(
    45deg,
    rgba(163, 250, 218, 1) 0%,
    rgba(54, 199, 230, 1) 100%
  );
  min-height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.form-container {
  flex: 50%;
  padding: 2%;
}

.logo-and-triangle {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.triangle {
  animation-name: triangle-animation;
  animation-duration: 10s;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes triangle-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  fill: white;
  z-index: 999;
}

.animation-container svg {
  position: absolute;
  align-self: center;
}

@keyframes circlesAnimation {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 0.2;
    transform: scale(60, 60);
  }
  100% {
    opacity: 0;
    transform: scale(120, 120);
  }
}

.circle-one {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
  z-index: 1;
}

.circle-two {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 200ms;
  opacity: 0;
  z-index: 1;
}

.circle-three {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 400ms;
  opacity: 0;
  z-index: 1;
}

.circle-four {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 600ms;
  opacity: 0;
  z-index: 1;
}

.circle-five {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 800ms;
  opacity: 0;
  z-index: 1;
}
.circle-six {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1000ms;
  opacity: 0;
  z-index: 1;
}

.antivirus-header {
  position: absolute;
  color: white;
  font-size: 1em;
  top: 55%;
  text-shadow: 0px 1px 3px gray;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.form-inner-container span:first-child {
  color: dodgerblue;
}

.align-text-end {
  text-align: end;
  font-weight: bold;
}

.form-inner-container h1 {
  font-size: 1.2em;
}

.form-description {
  color: gray;
  font-size: 0.8em;
}

.form-text-input {
  text-align: end;
  font-size: 1em;
  background-color: #e2e2e2;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}

.flex-row {
  flex-direction: row;
}

.captcha-input {
  flex-grow: 1;
  align-self: flex-end;
}

.captcha-image {
  width: 200px;
  padding-right: 5px;
}

.form-button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.login-form {
  flex-grow: 0.3;
  justify-content: space-around;
}

.form-inner-container {
  height: 70%;
  justify-content: space-evenly;
}
