* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
}

.animation-container {
  flex: 50%;
  background: rgb(163, 250, 218);
  background: linear-gradient(
    45deg,
    rgba(163, 250, 218, 1) 0%,
    rgba(54, 199, 230, 1) 100%
  );
  min-height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.form-container {
  flex: 50%;
}

.logo-and-triangle {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.triangle {
  animation-name: triangle-animation;
  animation-duration: 10s;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes triangle-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  fill: white;
}

.animation-container svg {
  position: absolute;
  align-self: center;
}

@keyframes circlesAnimation {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 0.3;
    transform: scale(40, 40);
  }
  100% {
    opacity: 0;
    transform: scale(80, 80);
  }
}

.circle-one {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-two {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 500ms;
}

.circle-three {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.circle-four {
  transform-origin: center;
  animation-name: circlesAnimation;
  animation-duration: 2s;
  fill: white;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1500ms;
}
